/* Stilizacija hamburger ikone */
.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin-bottom: 5px;
}

/* Prikazivanje mobilnog menija kada je otvoren */
.menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background: #333;
  padding: 10px;
  border-radius: 5px;
}

.mobile-nav ul {
  display: none;
}

.mobile-nav ul.menu {
  display: block;
}

/* Media upit za prikazivanje mobilne navigacije */
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  
  .mobile-nav {
    display: block;
  }

  .menu-icon {
    display: block;
  }
}
